@tailwind base;
@tailwind components;
@tailwind utilities;

@reference "tailwindcss";

@layer base {
  * {
    @apply box-border;
  }
  
  body {
    @apply text-gray-900 antialiased;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  outline: none;
  border: none;
  cursor: pointer;
}

a{
  color: inherit;
  text-decoration: none;
}

@layer utilities {
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}